// index/dashboard page
//-----------------------------------------------------------------------------------

.page-wrapper{
  overflow: hidden;
  height: auto;
}
.container{
  @media (min-width: 1435px) {
    width: 1405px;
  }
}
.first{
  margin-top: 121px;
  background-color: #323071;
  background-image: url(../img/svg/first-bg.svg);
  background-position: center center;
  position: relative;
  @media (max-width: 767px) {
    margin-top: 65.33px;
  }
}
.first-slider{
  width: calc(50% + 140px);
  height: 695px;
  margin-bottom: 0 !important;
  @media (max-width: 1229px) {
    width: 50%;
  }
  @media (max-width: 767px) {
    width: 100%;
    height: 361px;
    margin-bottom: 22px !important;
  }
  .slick-arrow{
    width: 17px;
    height: 26px;
    transform: translate(0);
    top: auto;
    bottom: 23px;
    z-index: 2;
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url(../img/svg/arrow.svg) center center no-repeat;
    }
  }
  .slick-next{
    right: 23px;
  }
  .slick-prev{
    left: 23px;
    &:before{
      transform: rotate(180deg);
    }
  }
}
.first-slide-img{
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.slick-list{
  height: 695px;
  @media (max-width: 767px) {
    height: 361px;
  }
}
.first-slide{
  height: 695px;
  @media (max-width: 767px) {
    height: 361px;
  }
}
.slick-track{
  height: 695px;
  @media (max-width: 767px) {
    height: 361px;
  }
}
.slick-dots{
  position: absolute;
  bottom: 0;
  right: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 100%;
  li{
    margin: 2px 0;
    width: 12px;
    height: 12px;
    button{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.38;
      transition: 0.3s;
      &:before{
        display: none;
      }
    }
    &.slick-active{
      button{
        opacity: 1;
      }
    }
  }
}
.first-text-block{
  height: 100%;
  position: absolute;
  width: 480px;
  left: calc(50% + 200px);
  box-sizing: border-box;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  &:before{
    content: '';
    position: absolute;
    background: url(../img/svg/first-il.svg) center center no-repeat;
    left: -18px;
    bottom: -16px;
    width: 202px;
    height: 34px;
    @media (max-width: 767px) {
      left: 73px;
    }
  }
  @media (max-width: 1434px) {
    width: 400px;
  }
  @media (max-width: 1229px) {
    left: calc(50% + 40px);
  }
  @media (max-width: 991px) {
    width: 310px;
  }
  @media (max-width: 767px) {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    padding: 0 15px;
    box-sizing: border-box;
    padding-bottom: 35px;
  }
}
.subname{
  font-family: $Noto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;
  }
}
.section-name{
  font-family: $Noto;
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  line-height: 31px;
  letter-spacing: 1.0875px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.first-text{
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.525px;
  color: #FBFBFB;
  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 19px;
  }
}
.why{
  padding-top: 84px;
  padding-bottom: 80px;
  position: relative;
  .subname{
    color: #EFD229;
    margin-bottom: 12px;
  }
  @media (max-width: 991px) {
    padding-top: 244px;
  }
  @media (max-width: 767px) {
    padding-top: 256px;
    padding-bottom: 30px;
  }
}
.why-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1300px;
  max-width: 100%;
  @media (max-width: 991px) {
    flex-direction: column;
  }
}
.why-right{
  width: 527px;
  max-width: 100%;
  @media (max-width: 991px) {
    width: 100%;
  }
}
.why-text{
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #292929;
  margin-bottom: 24px;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 22px;
  }
}
.why-text-bold{
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #292929;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 22px;
  }
}
.why-name{
  font-family: $Noto;
  font-style: normal;
  font-weight: 900;
  font-size: 83px;
  line-height: 76px;
  letter-spacing: 1.69773px;
  text-transform: uppercase;
  color: #323071;
  @media (max-width: 767px) {
    font-size: 46px;
    line-height: 53px;
  }
}
.why-left{
  padding-top: 96px;
  padding-left: 240px;
  @media (max-width: 1229px) {
    padding-left: 110px;
  }
  @media (max-width: 991px) {
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
  }
  @media (max-width: 767px) {
    align-items: flex-start;
    margin-bottom: 20px;
  }
}
.why-img{
  margin-top: -80px;
  margin-left: -33px;
  @media (max-width: 767px) {
    margin-left: -15px;
  }
}
.why-img-bg{
  position: absolute;
  left: 0;
  top: 187px;
  @media (max-width: 991px) {
    top: 60px;
  }
  @media (max-width: 767px) {
    top: 63px;
  }
}

.staff{
  padding-top: 80px;
  padding-bottom: 100px;
  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 34px;
  }
  .subname{
    color: #EFD229;
  }
  .section-name{
    color: #323071;
    margin-bottom: 17px;
  }
}
.staff-row{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  width: 1300px;
  max-width: 100%;
  @media (max-width: 991px) {
    flex-direction: column;
  }
}
.staff-left{
  width: 494px;
  max-width: 100%;
  @media (max-width: 1229px) {
    width: 460px;
  }
  @media (max-width: 991px) {
    width: 100%;
  }
}
.staff-text{
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #0B0B0B;
}
.staff-right{
  width: 705px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 114px;
    top: -23px;
    background: url(../img/svg/staff-1.svg) center center no-repeat;
    width: 130px;
    height: 37px;
    z-index: 2;
    @media (max-width: 767px) {
      left: 56px;
    }
  }
  &:after{
    content: '';
    position: absolute;
    right: -45px;
    bottom: -32px;
    background: url(../img/svg/staff-2.svg) center center no-repeat;
    z-index: 2;
    width: 163px;
    height: 91px;
  }
  @media (max-width: 1434px) {
    width: 580px;
  }
  @media (max-width: 1229px) {
    width: 450px;
  }
  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 36px;
  }
}

.facilities{
  padding-top: 55px;
  padding-bottom: 109px;
  background: url(../img/svg/facilities-bg.svg) center center;
  .section-name{
    color: #323071;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    padding-top: 35px;
    padding-bottom: 55px;
  }
}
.facilities-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1300px;
  max-width: 100%;
  @media (max-width: 991px) {
    flex-direction: column;
  }
}
.facilities-left{
  width: 661px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    background: url(../img/facilities-il.png) center center no-repeat;
    background-size: 100%;
    bottom: -53px;
    right: -56px;
    width: 166px;
    height: 127px;
    z-index: 2;
  }
  @media (max-width: 1434px) {
    width: 580px;
  }
  @media (max-width: 1229px) {
    width: 450px;
  }
  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 45px;
  }
}
.facilities-right{
  width: 548px;
  @media (max-width: 1229px) {
    width: 430px;
  }
  @media (max-width: 991px) {
    width: 100%;
  }
}
.facilities-text{
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #0B0B0B;
  margin-bottom: 20px;
}
.facilities-list-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.facilities-list-text{
  font-family: $Noto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.525px;
  color: #0B0B0B;
  max-width: 261px;
  @media (max-width: 767px) {
    max-width: 100%;
    width: 100%;
  }
}
.languages{
  padding-top: 90px;
  padding-bottom: 116px;
  @media (max-width: 767px) {
    padding-top: 34px;
    padding-bottom: 37px;
  }
}
.languages-row{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  width: 1300px;
  max-width: 100%;
  .subname{
    color: #EFD229;
  }
  .section-name{
    color: #323071;
  }
  @media (max-width: 991px) {
    flex-direction: column;
  }
}
.languages-left{
  width: 540px;
  max-width: 100%;
  @media (max-width: 1229px) {
    width: 460px;
  }
  @media (max-width: 991px) {
    width: 100%;
  }
}
.languages-text{
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #0B0B0B;
}
.languages-right{
  width: 662px;
  max-width: 100%;
  margin-top: 58px;
  @media (max-width: 1434px) {
    width: 550px;
  }
  @media (max-width: 1229px) {
    width: 450px;
  }
  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 37px;
  }
  @media (max-width: 767px) {
    margin-top: 0;
  }
}
.languages-il{
  margin-top: -63px;
  margin-left: -32px;
  @media (max-width: 767px) {
    margin-left: -15px;
    width: 115px;
    margin-top: -42px;
  }
}

.curriculum{
  background: url(../img/curriculum-bg.jpg) center center;
  padding-top: 46px;
  padding-bottom: 311px;
  position: relative;
  .section-name{
    color: #323071;
  }
  @media (max-width: 1229px) {
    padding-bottom: 170px;
  }
  @media (max-width: 767px) {
    padding-top: 39px;
    padding-bottom: 0;
  }
}
.curriculum-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1300px;
  max-width: 100%;
  @media (max-width: 991px) {
    flex-direction: column;
  }
}
.curriculum-left{
  width: 662px;
  max-width: 100%;
  @media (max-width: 1434px) {
    width: 580px;
  }
  @media (max-width: 1229px) {
    width: 430px;
  }
  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 12px;
  }
}
.curriculum-il{
  display: block;
  margin-left: auto;
  margin-top: -161px;
  margin-right: -71px;
  @media (max-width: 991px) {
    margin-right: 0;
  }
  @media (max-width: 767px) {
    width: 102px;
    margin-top: -53px;
  }
}
.curriculum-right{
  width: 495px;
  @media (max-width: 1229px) {
    width: 420px;
  }
  @media (max-width: 991px) {
    width: 100%;
  }
}
.curriculum-text{
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #0B0B0B;
  @media (max-width: 767px) {
    margin-bottom: 55px;
  }
}
.curriculum-block-third{
  width: 394px;
  border-bottom: 21px solid #3FB38E;
  transform: rotate(3deg);
  position: absolute;
  bottom: -74px;
  right: -71px;
  @media (max-width: 1229px) {
    width: 260px;
  }
  @media (max-width: 767px) {
    position: static;
    display: block;
    margin: 0 auto -350px;
    min-width: 390px;
  }
  img{
    border: 1px solid #EFD229;
    box-sizing: border-box;
  }
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translateX(-50%) rotate(-3deg);
    width: 154px;
    height: 38px;
    background: url(../img/svg/curriculum-block-third.svg) center center no-repeat;
    z-index: 2;
  }
}
.curriculum-block-second{
  width: 394px;
  border-bottom: 19px solid #323071;
  transform: rotate(-3deg);
  position: absolute;
  bottom: -215px;
  right: 385px;
  @media (max-width: 1229px) {
    width: 260px;
    bottom: -145px;
    right: 285px;
  }
  @media (max-width: 991px) {
    right: 225px;
  }
  @media (max-width: 767px) {
    position: static;
    display: block;
    margin: 0 auto 70px;
    min-width: 390px;
  }
  img{
    border: 1px solid #EFD229;
    box-sizing: border-box;
  }
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%) rotate(-3deg);
    width: 154px;
    height: 38px;
    background: url(../img/svg/curriculum-block-second.svg) center center no-repeat;
    z-index: 2;
  }
}
.curriculum-block-first{
  width: 394px;
  border-bottom: 16px solid #EFD229;
  transform: rotate(5deg);
  position: relative;
  position: absolute;
  bottom: -85px;
  right: 871px;
  @media (max-width: 1229px) {
    width: 260px;
    right: 651px;
  }
  @media (max-width: 991px) {
    right: 521px;
  }
  @media (max-width: 767px) {
    position: static;
    display: block;
    margin: 0 auto 70px;
    min-width: 390px;
  }
  img{
    border: 1px solid #EFD229;
    box-sizing: border-box;
  }
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%) rotate(-3deg);
    width: 154px;
    height: 38px;
    background: url(../img/svg/curriculum-block-first.svg) center center no-repeat;
    z-index: 2;
  }
}

.aplly{
  padding-top: 320px;
  padding-bottom: 131px;
  @media (max-width: 1229px) {
    padding-top: 220px;
  }
  @media (max-width: 767px) {
    padding-top: 464px;
    padding-bottom: 84px;
  }
}
.aplly-container{
  width: 698px;
  max-width: 100%;
  margin: 0 auto;
}
.aplly-name{
  font-family: $Noto;
  font-style: normal;
  font-weight: 900;
  font-size: 29px;
  line-height: 31px;
  letter-spacing: 1.0875px;
  text-transform: uppercase;
  color: #323071;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 31px;
  }
}
.aplly-text{
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.525px;
  color: #171717;
  margin-bottom: 27px;
}
.aplly-form-name{
  font-family: $Noto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #F05663;
  margin-bottom: 23px;
}
.aplly-form{
  display: block;
  width: 100%;
}
.aplly-form-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.input-label{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: calc(50% - 22px);
  margin-bottom: 20px;
  .error{
    position: absolute;
    right: 0;
    top: 0;
    font-family: $Noto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.45px;
    color: #E53D3D;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}
.input-name{
  font-family: $Noto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #323071;
  margin-bottom: 12px;
}
.input{
  width: 100%;
  background: #FAFAFA;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  height: 40px;
  text-indent: 16px;
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.525px;
  color: #171717;
  &::placeholder{
    color: rgba(#171717, 0.3);
  }
}
.phone-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .input{
    width: calc(100% - 97px);
  }
}
.phone-select{
  background: #FAFAFA;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  width: 97px;
  height: 40px;
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.525px;
  color: #171717;
}
.btn{
  font-family: $Noto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.5625px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #3CB28C;
  width: 218px;
  height: 44px;
  @media (max-width: 767px) {
    width: 100%;
  }
}