.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

{{#shapes}}

.icon-{{base}} {
  width:({{width.inner}}/{{height.inner}})*1em {}
}

{{/shapes}}