.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-analytics {
  width:(29/34)*1em;
}

.icon-arrow {
  width:(9/14)*1em;
}

.icon-chat {
  width:(35/31)*1em;
}

.icon-close {
  width:(348.333/348.334)*1em;
}

.icon-content {
  width:(34/32)*1em;
}

.icon-help {
  width:(36/33)*1em;
}

.icon-lock {
  width:(24/24)*1em;
}

.icon-mail {
  width:(24/24)*1em;
}

.icon-menu {
  width:(512/512)*1em;
}

.icon-settings {
  width:(35/34)*1em;
}

.icon-slider-arrow {
  width:(306/306)*1em;
}