$base64-png: "image/png;base64";
$base64-jpg: "image/jpeg;base64";
$base64-svg: "image/svg+xml;base64";

// font var
//-----------------------------------------------------------------------------------
$default-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

// +font-face('font-icon', 'fonts/font-icon/font-icon', 'font-icon')

// +font-face('AvenirNextCyr-Regular', '../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular', 'AvenirNextCyr-Regular', normal)
// +font-face('AvenirNextCyr-Medium', '../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium', 'AvenirNextCyr-Medium', 500)
// +font-face('AvenirNextCyr-Demi', '../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi', 'AvenirNextCyr-Demi', 600)
// +font-face('AvenirNextCyr-Bold', '../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold', 'AvenirNextCyr-Bold', 700)
//
//
// $AvenirRegular: 'AvenirNextCyr-Regular', $default-font

// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue;

$Noto: 'Noto Sans', $default-font;

// color var
//-----------------------------------------------------------------------------------
$color-link: dodgerblue;