<footer id="footer" class="wrapper footer">
  <div class="container">
    <div class="header-top">
      <div class="footer-top-left">
        <a href="#" class="footer-logo-link">
          <img class="footer-logo" src="assets/img/svg/footer-logo.svg" alt="">
        </a>
        <div class="social-list">
          <a href="#" class="social-link">
            <img class="social-img" src="assets/img/svg/face.svg" alt="">
          </a>
          <a href="#" class="social-link">
            <img class="social-img" src="assets/img/svg/insta.svg" alt="">
          </a>
        </div>
      </div>
      <img class="footer-img" src="assets/img/svg/footer-img.svg" alt="">
    </div>
    <div class="footer-bot">
      <p class="address">68, Heliopolis St., Alexandria, Egypt<br> <a href="#">Visit on Maps</a></p>
      <p class="copyright">Copyrights 2020 AIA. All rights reserved.</p>
    </div>
  </div>
</footer>
