<header id="header" class="wrapper header">
  <div class="container">
    <div class="header-row">
      <a href="#" class="logo-link">
        <img class="logo" src="assets/img/svg/logo.svg" alt="">
      </a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#">About AIA</a>
        </li>
        <li class="header-menu-item">
          <a href="#">Why AIA</a>
        </li>
        <li class="header-menu-item">
          <a href="#">The Staff</a>
        </li>
        <li class="header-menu-item">
          <a href="#">The Facilities</a>
        </li>
        <li class="header-menu-item">
          <a href="#">Language Policy</a>
        </li>
        <li class="header-menu-item">
          <a href="#">The curriculum</a>
        </li>
      </ul>
      <button type="button" class="header-btn">APPLY TO AIA</button>
    </div>
  </div>
</header>