<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="first">
      <div class="first-slider">
        <div class="first-slide">
          <img class="first-slide-img" src="assets/img/first-1.jpg" alt="">
        </div>
        <div class="first-slide">
          <img class="first-slide-img" src="assets/img/first-2.jpg" alt="">
        </div>
        <div class="first-slide">
          <img class="first-slide-img" src="assets/img/first-3.jpg" alt="">
        </div>
      </div>
      <div class="first-text-block">
        <h3 class="subname">— About AIA</h3>
        <h2 class="section-name">International community of students, parents and staff</h2>
        <p class="first-text">AIA was founded by Rania and Nesreen El Sabban with a very clear vision about education. Aware of the lack of choice of good quality international education available in Alexandria and devotees of the holistic, inquiry driven philosophy of the best international programs, they set about creating an educational opportunity for the children of Alexandria, that would be unrivalled in Egypt.<br>
          <br>
          AIA is a flourishing school that is about to embark on the process of acquiring fully recognised international accreditation and certification. From humble beginnings, AIA is about to relocate from the centre of the bustling second city of Egypt to a purpose-built campus on its outskirts.</p>
      </div>
    </section>
    <section class="why">
      <img class="why-img-bg" src="assets/img/svg/why-bg.svg" alt="">
      <div class="container">
        <div class="why-row">
          <div class="why-left">
            <h2 class="why-name">What<br> makes<br> AIA so</h2>
            <img class="why-img" src="assets/img/svg/special.svg" alt="">
          </div>
          <div class="why-right">
            <h3 class="subname">— Why AIA</h3>
            <p class="why-text">The vision at AIA is to create a community of lifelong learning between our students, parents and educators and support it with values and principles to develop internationally minded individuals who are caring, knowledgeable, independent and enthusiastic about life and learning. AIA thrives to develop socially responsible individuals open to exploring new ideas and concepts from a global platform and at the same time preserving their own principles and heritage. AIA creates a challenging multicultural environment with inspirational educators from across the world and international education programmes supported by a philosophy of interrelated learning curriculums. AIA is guided by its Essential Agreement which, in turn, encapsulates characteristics of a global citizen.</p>
            <p class="why-text-bold">Our aim is that our students will be Inquirers, Thinkers, Communicators and Risk-takers who are Open-minded, Principled, Reflective, Caring, Balanced and Knowledgeable. We strongly believe that young people with such qualities will be equipped to, not only achieve personal success in their lives, but will also be truly internationally minded able to have an impact in helping to create a better and more peaceful world.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="staff">
      <div class="container">
        <div class="staff-row">
          <div class="staff-right">
            <img class="staff-img" src="assets/img/staff.jpg" alt="">
          </div>
          <div class="staff-left">
            <h3 class="subname">— The Staff</h3>
            <h2 class="section-name">Open-minded, compassionate, respectful and courteous at all times.</h2>
            <p class="staff-text">At AIA we think carefully about who we employ in the school. It is not just about having the skills and experience to do the job, but we look for people who we think will observe the guidelines of our Essential Agreement. From the cleaners to the Principal, the staff of AIA is expected to be open-minded, compassionate, respectful and courteous at all times. Whilst the school offers an international curriculum, we very much want to maintain our Egyptian roots.<br>
              <br>
              To provide the required balance, AIA has a teaching staff of Egyptians and expatriates, thus combining the international experience from overseas educators with the local knowledge and culture of well-qualified Egyptian teachers. All teachers at AIA are being constantly kept abreast of the international standards through ongoing professional development.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="facilities">
      <div class="container">
        <div class="facilities-row">
          <div class="facilities-left">
            <img class="facilities-img" src="assets/img/facilities.jpg" alt="">
          </div>
          <div class="facilities-right">
            <h3 class="subname">— facilities</h3>
            <h2 class="section-name">The new campus is due to be completed in September 2020.</h2>
            <p class="facilities-text">It will provide a state-of-the-art complex designed by architects with expertise in the design and construction of educational institutions and facilities. Those facilities will include:</p>
            <div class="facilities-list-row">
              <div class="facilities-list">
                <p class="facilities-list-text">— Indoor sports hall</p>
                <p class="facilities-list-text">— Swimming pool</p>
                <p class="facilities-list-text">— 4 Science labs</p>
                <p class="facilities-list-text">— Computer labs</p>
                <p class="facilities-list-text">— 2 Libraries</p>
                <p class="facilities-list-text">— 2 Art rooms</p>
                <p class="facilities-list-text">— Design and technology room</p>
              </div>
              <div class="facilities-list">
                <p class="facilities-list-text">— 220 seats theater</p>
                <p class="facilities-list-text">— Basketball court</p>
                <p class="facilities-list-text">— Volleyball court</p>
                <p class="facilities-list-text">— Music room</p>
                <p class="facilities-list-text">— As well as modern, attractively furnished classrooms designed specifically for an inquiry based approach to learning.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="languages">
      <div class="container">
        <div class="languages-row">
          <div class="languages-right">
            <img class="languages-img" src="assets/img/languages.jpg" alt="">
            <img class="languages-il" src="assets/img/languages-il.png" alt="">
          </div>
          <div class="languages-left">
            <h3 class="subname">— Language policy</h3>
            <h2 class="section-name">At AIA, most of our students are tri-lingual.</h2>
            <p class="languages-text">In an attempt to develop internationally-minded young people, it is important to encourage students to be fluent in at least two languages. At AIA, most of our students are tri-lingual. Although, we are essentially an English-speaking school, the primary years at AIA is divided into two sections; the French Immersion and the English. In the English section the language of instruction is English apart from the Arabic lessons and the French as an additional language (FAL) lessons. For students wishing to grow with a strong foundation in French, they would join the French Immersion section where they will be taught in French apart from the Arabic and English as an additional language (EAL) lessons.<br>
              <br>
              In middle years, all children are taught all lessons in English apart from French Acquisition (equivalent to FAL in Primary years) and Arabic. English is expected to be the medium of communication by children throughout middle years. All middle years’ students study English Language and Literature and French Acquisition. For those that passed through the French Immersion course in primary years, it may be that they will also be able to study the Language and Literature course for French as well as English.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="curriculum">
      <div class="container">
        <div class="curriculum-row">
          <div class="curriculum-left">
            <img class="curriculum-img" src="assets/img/curriculum.jpg" alt="">
            <img class="curriculum-il" src="assets/img/curriculum-il.png" alt="">
          </div>
          <div class="curriculum-right">
            <h3 class="subname">— Curriculum</h3>
            <h2 class="section-name">The curriculum is based on concept-based learning & uses
              a transdisciplinary approach</h2>
            <p class="curriculum-text">At AIA, we strive to offer students a challenging and diverse international program. Facilitated by a professional, specialised and caring staff of teachers, we aim to empower our students to become critical, independent thinkers with the skills to participate actively in an ever-changing global society. We believe that our school curriculum must include learning experiences that develop the whole child.<br>
              <br>
              To ensure high standards of excellence, our curriculums for our early childhood centre, elementary school and middle school offer opportunities for our students to embrace learning and succeed academically. International education programmes form the core of AIA’s drive to ensure continued quality of education and adherence to international standards.</p>
          </div>
        </div>
        <div class="curriculum-block-first">
          <img class="curriculum-first-img" src="assets/img/curriculum-1.jpg" alt="">
        </div>
        <div class="curriculum-block-second">
          <img class="curriculum-second-img" src="assets/img/curriculum-2.jpg" alt="">
        </div>
        <div class="curriculum-block-third">
          <img class="curriculum-third-img" src="assets/img/curriculum-3.jpg" alt="">
        </div>
      </div>
    </section>
    <section class="aplly">
      <div class="container">
        <div class="aplly-container">
          <h2 class="aplly-name">Apply to AIA</h2>
          <p class="aplly-text">To apply, please provide the information below.</p>
          <p class="aplly-form-name">Parent’s information</p>
          <form action="#" class="aplly-form">
            <div class="aplly-form-row">
              <label class="input-label">
                <span class="input-name">full name</span>
                <input type="text" class="input" name="name" placeholder="Enter first name">
              </label>
              <label class="input-label">
                <span class="input-name">Occupation</span>
                <input type="text" class="input" name="occupation" placeholder="Human Resources Manager">
              </label>
            </div>
            <div class="aplly-form-row">
              <label class="input-label">
                <span class="input-name">Email address</span>
                <input type="email" class="input" name="email" placeholder="example@example.com">
              </label>
              <label class="input-label">
                <span class="input-name">Phone number</span>
                <div class="phone-row">
                  <select class="phone-select" name="phone-code">
                    <option value="0">EG +20</option>
                    <option value="1">EG +21</option>
                    <option value="2">EG +22</option>
                  </select>
                  <input type="tel" class="input" name="phone" placeholder="Enter phone number">
                </div>
              </label>
            </div>
            <button type="submit" class="btn">submit</button>
          </form>
        </div>
      </div>
    </section>
  </div>
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
