// footer
//-----------------------------------------------------------------------------------

.footer{
  background: #323071;
}
.header-top{
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(#979797, 0.23);
  padding-bottom: 17px;
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  @media (max-width: 767px) {
    padding-top: 18px;
    padding-bottom: 10px;
  }
}
.footer-img{
  margin-top: -111px;
  @media (max-width: 767px) {
    width: 174px;
    margin-top: -48px;
  }
}
.footer-logo{
  @media (max-width: 767px) {
    width: 118px;
  }
}
.social-list{
  margin-top: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-link{
  margin-right: 10px;
}
.footer-bot{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 19px;
  padding-bottom: 28px;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  @media (max-width: 767px) {
    padding-top: 12px;
    padding-bottom: 26px;
    flex-direction: column;
  }
}
.address{
  padding-left: 22px;
  position: relative;
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.45px;
  color: #C2C1E5;
  @media (max-width: 767px) {
    margin-bottom: 8px;
  }
  a{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/svg/pin.svg) center center no-repeat;
    width: 14px;
    height: 19px;
  }
}
.copyright{
  font-family: $Noto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.45px;
  color: #C2C1E5;
  @media (max-width: 767px) {
    padding-left: 22px;
  }
}