// header
//-----------------------------------------------------------------------------------

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 21px 0 23px;
  z-index: 100;
  border: 1px solid #EFEFEF;
  @media (max-width: 767px) {
    padding: 8px 0 9px;
  }
}
.header-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1229px) {
    display: none;
  }
}
.header-menu-item{
  margin: 0 15px;
  @media (max-width: 1434px) {
    margin: 0 10px;
  }
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
  a{
    font-family: $Noto;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.306818px;
    text-transform: uppercase;
    color: #2F2B67;
    &:hover{
      text-decoration: none;
    }
    @media (max-width: 1434px) {
      font-size: 14px;
    }
  }
}
.header-btn{
  font-family: $Noto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.5625px;
  color: #FFFFFF;
  background: #3CB28C;
  width: 158px;
  height: 44px;
  @media (max-width: 767px) {
    width: 120px;
    height: 38px;
    font-size: 12px;
  }
}
.logo{
  @media (max-width: 767px) {
    width: 160px;
  }
}